* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url("https://i.pinimg.com/originals/8e/46/15/8e46150f790fbefe438d9c2767c32ad1.gif");
}

#startScreen,
#gameCanvas {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 800px;
  height: 600px;
  box-shadow: 0 0 40px rgba(90, 90, 239, 0.8),
    0 0 40px rgba(79, 0, 249, 0.6) inset;
  background-image: url("https://i.pinimg.com/originals/8e/46/15/8e46150f790fbefe438d9c2767c32ad1.gif");
}

#startScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 60px;
  color: rgb(255, 28, 255);
  text-align: center;
  margin-bottom: 10px;
  font-family: Fantasy, Papyrus;
  text-transform: uppercase;
}

#startButton,
#howToPlay,
#gameOverP1 button,
#gameOverP2 button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#startButton:active,
#howToPlay:active,
#gameOverP1 button:active,
#gameOverP2 button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

#startButton:hover,
#howToPlay:hover,
#gameOverP1 button:hover,
#gameOverP2 button:hover {
  background-color: black;
  color: white;
}

@media (min-width: 768px) {
  #startButton,
  #howToPlay {
    padding: 0.25em 0.75em;
  }
}

#howToPlay {
  margin-top: 10px;
}

.instructionsMenu {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
  z-index: 9999;
  font-family: "open sans", sans-serif;
}

.instructionsMenu strong {
  color: white;
}

.instructionsMenu p {
  margin-bottom: 15px;
}

.instructionsMenu ul {
  list-style-type: none;
  padding-left: 0;
}

.instructionsMenu li {
  margin-bottom: 10px;
}

.instructionsMenu button {
  background-color: #ffea00;
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 10px;
}

.instructionsMenu button:hover {
  background-color: #ffd500;
}

.middleLine {
  border-left: 5px dashed white;
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  transform: translateX(-50%);
}

#player1Score,
#player2Score {
  position: absolute;
  top: 12px;
  color: white;
  font-size: 24px;
  font-family: Fantasy, Papyrus;
  text-transform: uppercase;
}

#player1Score {
  left: 40%;
}

#player2Score {
  right: 40%;
}

#player1,
#player2 {
  position: absolute;
  top: 12px;
  color: white;
  font-size: 24px;
  font-family: Fantasy, Papyrus;
  text-transform: uppercase;
}

#player1 {
  left: 5%;
}

#player2 {
  right: 5%;
}

#player1Paddle,
#player2Paddle {
  background-color: white;
  width: 10px;
  height: 100px;
  position: absolute;
}

#player1Paddle {
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

#player2Paddle {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

#ball {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 28, 255);
  position: absolute;
  animation: glow 1.5s infinite alternate;
  box-shadow: 0 0 5px rgba(255, 28, 255, 0.6), 0 0 10px rgba(255, 28, 255, 0.6),
    0 0 15px rgba(255, 28, 255, 0.6), 0 0 20px rgba(255, 28, 255, 0.6);
}

@keyframes glow {
  from {
    box-shadow: 0 0 5px rgba(255, 28, 255, 0.6),
      0 0 10px rgba(255, 28, 255, 0.6), 0 0 15px rgba(255, 28, 255, 0.6),
      0 0 20px rgba(255, 28, 255, 0.6);
  }
  to {
    box-shadow: 0 0 20px rgba(255, 28, 255, 0.6),
      0 0 15px rgba(255, 28, 255, 0.6), 0 0 10px rgba(255, 28, 255, 0.6),
      0 0 5px rgba(255, 28, 255, 0.6);
  }
}

#gameOverP1,
#gameOverP2 {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
  z-index: 9999; /* appear above other elements */
}

#gameOverP1 h2,
#gameOverP2 h2 {
  margin-bottom: 20px;
  font-size: 40px;
  font-family: Fantasy, Papyrus;
}
