* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

#startScreen,
#gameCanvas {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 800px;
  height: 600px;
  border: 5px dotted white;
  background-color: black;
}

#startScreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 32px;
  color: white;
  text-align: center;
}

#startButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
  text-align: center;
}

#startButton:hover {
  background-color: #0056b3;
}

.middleLine {
  border-left: 5px dashed white;
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  transform: translateX(-50%);
}

#player1Score,
#player2Score {
  position: absolute;
  top: 12px;
  color: white;
  font-size: 24px;
}

#player1Score {
  left: 40%;
}

#player2Score {
  right: 40%;
}

#player1Paddle,
#player2Paddle {
  background-color: white;
  width: 10px;
  height: 100px;
  position: absolute;
}

#player1Paddle {
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

#player2Paddle {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

#ball {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  background-color: red;
  position: absolute;
}
